{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAT API App</title>
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <button class="button is-warning"><a href="{% url 'home' %}">Home</a></button>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">

            <br>
            <h1 class="title is-1">National Archive API browser</h1>
            <br>
        </div>
    </section>

    {% block content%}
    {% endblock %}

</body>

</html>