{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <br><br>
    <div class="card">
        <div class="card-content">
            <div class="content">

                <h3 class="card-title text-center ">{{ record.id }}</h3>
                <hr>
                <p class="lead">{{ record.title|default_if_none:"" }}</p>
                <p>{{ record.scopeContent_description|default_if_none:"" }}</p>
                <p>{{ record.citableReference|default_if_none:"" }}</p>
                <p>{{ record.message_to_user|default_if_none:"" }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}